##  Stage A Quiz Solution

In partial fulfilment of the requirement of Hamoye Summer'22 Internship, I MUFTAUDEEN, Toyin Saheed, declares- that by submitting this document - the solution in this notebbok are results of my own work and that I abide by the code of conduct guiding the internship.

## Overview: Introduction to Python for Machine Learning

The dataset for this quiz is provided by the Food and Agriculture Organization of the United Nations and is made available in .csv format on the github link attached herein https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning

## Preliminaries

In [2]:
#importing the needed libraarires 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#load in the dataset
food_df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

In [4]:
#Checking the shape of the dataset 
food_df.shape

(60943, 12)

In [5]:
#Printing the first 50 rows in the dataset
food_df.head(50)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73
10,4,Algeria,2941,Animal Products,684,Fat supply quantity (g/capita/day),g/capita/day,26.22,24.64,25.37,24.60,22.71
11,4,Algeria,2905,Cereals - Excluding Beer,5511,Production,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
12,4,Algeria,2905,Cereals - Excluding Beer,5611,Import Quantity,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
13,4,Algeria,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
14,4,Algeria,2905,Cereals - Excluding Beer,5911,Export Quantity,1000 tonnes,3.00,7.00,7.00,10.00,17.00
15,4,Algeria,2905,Cereals - Excluding Beer,5301,Domestic supply quantity,1000 tonnes,15353.00,16075.00,16056.00,15803.00,17004.00
16,4,Algeria,2905,Cereals - Excluding Beer,5521,Feed,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
17,4,Algeria,2905,Cereals - Excluding Beer,5527,Seed,1000 tonnes,177.00,189.00,197.00,202.00,278.00
18,4,Algeria,2905,Cereals - Excluding Beer,5123,Losses,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
19,4,Algeria,2905,Cereals - Excluding Beer,5131,Processing,1000 tonnes,35.00,38.00,37.00,33.00,44.00
20,4,Algeria,2905,Cereals - Excluding Beer,5154,Other uses (non-food),1000 tonnes,787.00,847.00,835.00,840.00,951.00
21,4,Algeria,2905,Cereals - Excluding Beer,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
22,4,Algeria,2905,Cereals - Excluding Beer,5142,Food,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
23,4,Algeria,2905,Cereals - Excluding Beer,645,Food supply quantity (kg/capita/yr),kg,219.56,219.72,221.98,216.02,218.31
24,4,Algeria,2905,Cereals - Excluding Beer,664,Food supply (kcal/capita/day),kcal/capita/day,1680.00,1682.00,1699.00,1656.00,1672.00
25,4,Algeria,2905,Cereals - Excluding Beer,674,Protein supply quantity (g/capita/day),g/capita/day,49.43,49.54,50.01,48.86,49.36
26,4,Algeria,2905,Cereals - Excluding Beer,684,Fat supply quantity (g/capita/day),g/capita/day,6.84,6.78,6.83,6.63,6.58
27,4,Algeria,2511,Wheat and products,5511,Production,1000 tonnes,2436.00,2657.00,2440.00,2437.00,3981.00
28,4,Algeria,2511,Wheat and products,5611,Import Quantity,1000 tonnes,7461.00,8531.00,8255.00,8105.00,8434.00
29,4,Algeria,2511,Wheat and products,5072,Stock Variation,1000 tonnes,487.00,1401.00,731.00,546.00,1927.00
30,4,Algeria,2511,Wheat and products,5911,Export Quantity,1000 tonnes,3.00,7.00,6.00,10.00,17.00
31,4,Algeria,2511,Wheat and products,5301,Domestic supply quantity,1000 tonnes,9407.00,9780.00,9958.00,9987.00,10472.00
32,4,Algeria,2511,Wheat and products,5521,Feed,1000 tonnes,550.00,592.00,584.00,587.00,665.00
33,4,Algeria,2511,Wheat and products,5527,Seed,1000 tonnes,123.00,134.00,123.00,123.00,201.00
34,4,Algeria,2511,Wheat and products,5123,Losses,1000 tonnes,690.00,781.00,747.00,736.00,868.00
35,4,Algeria,2511,Wheat and products,5131,Processing,1000 tonnes,0.00,0.00,0.00,0.00,0.00
36,4,Algeria,2511,Wheat and products,5154,Other uses (non-food),1000 tonnes,787.00,847.00,835.00,840.00,951.00
37,4,Algeria,2511,Wheat and products,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
38,4,Algeria,2511,Wheat and products,5142,Food,1000 tonnes,7258.00,7425.00,7670.00,7701.00,7795.00
39,4,Algeria,2511,Wheat and products,645,Food supply quantity (kg/capita/yr),kg,186.46,186.90,189.14,186.07,184.58
40,4,Algeria,2511,Wheat and products,664,Food supply (kcal/capita/day),kcal/capita/day,1432.00,1435.00,1453.00,1430.00,1419.00
41,4,Algeria,2511,Wheat and products,674,Protein supply quantity (g/capita/day),g/capita/day,43.20,43.33,43.85,43.18,42.85
42,4,Algeria,2511,Wheat and products,684,Fat supply quantity (g/capita/day),g/capita/day,5.39,5.31,5.37,5.25,5.12
43,4,Algeria,2805,Rice and products,5511,Production,1000 tonnes,0.00,0.00,0.00,0.00,0.00
44,4,Algeria,2805,Rice and products,5611,Import Quantity,1000 tonnes,171.00,164.00,162.00,190.00,207.00
45,4,Algeria,2805,Rice and products,5072,Stock Variation,1000 tonnes,8.00,-2.00,-4.00,17.00,37.00
46,4,Algeria,2805,Rice and products,5911,Export Quantity,1000 tonnes,NaN,0.00,0.00,0.00,0.00
47,4,Algeria,2805,Rice and products,5301,Domestic supply quantity,1000 tonnes,163.00,166.00,167.00,173.00,170.00
48,4,Algeria,2805,Rice and products,5521,Feed,1000 tonnes,5.00,1.00,1.00,2.00,0.00
49,4,Algeria,2805,Rice and products,5527,Seed,1000 tonnes,0.00,0.00,0.00,0.00,0.00

In [15]:
#Dataset description
food_df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [16]:
#Dataset information 
food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

## Question 11 
What is the total sum of Animal Fat produced in 2014 and 2017??

In [39]:
total_sum = food_df.groupby('Item')[['Y2014', 'Y2017']].sum()
total_sum

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

## Question 12 
What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places??

In [46]:
round(food_df['Y2015'].mean(), 3), round(food_df['Y2015'].std(), 3)

(135.236, 1603.404)

## Question 13
What is the total number and percentage of missing data in 2016 to 2 decimal places ??

In [49]:
round(food_df['Y2016'].isnull().sum(), 2), round(food_df['Y2016'].isnull().mean()*100, 2)

(1535, 2.52)

## Question 14
What year had the heighest correlation with 'Element Code' ??

In [50]:
food_df.groupby('Element Code').corr()

                        Area Code  Item Code     Y2014     Y2015     Y2016  \
Element Code
511          Area Code   1.000000        NaN  0.149348  0.149792  0.150292
             Item Code        NaN        NaN       NaN       NaN       NaN
             Y2014       0.149348        NaN  1.000000  0.999988  0.999951
             Y2015       0.149792        NaN  0.999988  1.000000  0.999987
             Y2016       0.150292        NaN  0.999951  0.999987  1.000000
...                           ...        ...       ...       ...       ...
5911         Y2014       0.005901   0.056301  1.000000  0.976942  0.992694
             Y2015       0.007883   0.050526  0.976942  1.000000  0.965195
             Y2016       0.006203   0.062306  0.992694  0.965195  1.000000
             Y2017       0.005156   0.063080  0.941934  0.863665  0.963790
             Y2018       0.004272   0.063211  0.942024  0.863140  0.963378

                           Y2017     Y2018
Element Code
511          Area Code  0.150840  0.151415
             Item Code       NaN       NaN
             Y2014      0.999885  0.999791
             Y2015      0.999947  0.999878
             Y2016      0.999986  0.999944
...                          ...       ...
5911         Y2014      0.941934  0.942024
             Y2015      0.863665  0.863140
             Y2016      0.963790  0.963378
             Y2017      1.000000  0.999409
             Y2018      0.999409  1.000000

[126 rows x 7 columns]

## Question 15
What year has the heighest sum of import Quantity ??
## Question 16 
What is the total number of the sum of Production in 2014 ??

In [51]:
food_df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

## Question 17
Which elements had the highest sum in 2018 ??

## Question 18
Which elements had the 3rd lowest sum in 2018 ??

In [60]:
food_df.groupby('Element')[['Y2018']].sum()

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

## Question 19
what is the total import Quantity in Algeria in 2018 ??

In [7]:
food_df[food_df['Area']=='Algeria'].sum()

Area Code                                                    5252
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                 3532053
Item            PopulationPopulationGrand TotalGrand TotalGran...
Element Code                                              5017927
Element         Total Population - Both sexesDomestic supply q...
Unit            1000 persons1000 tonneskcal/capita/dayg/capita...
Y2014                                                   313375.33
Y2015                                                    324058.4
Y2016                                                   326007.41
Y2017                                                   325644.27
Y2018                                                   341729.98
dtype: object

## Question 20 
What is the total number of unique countries in the dataset

In [69]:
food_df['Area'].nunique()

49